<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tech.Education.Cognitive">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Creates a custom permission so only this app can receive its messages. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".App_Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".App_Activity.Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".App_Activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".FCM.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />

        <activity
            android:name=".App_Activity.DrawerMain"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.basu_mali_fcm_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".App_Activity.VideoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".App_Activity.QuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".App_Activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/cus_theme2" />
        <activity
            android:name=".App_Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.MoreVideos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".App_Activity.SecondVideoActivity" />
        <activity android:name=".App_Activity.VideoPlayer" />
        <activity
            android:name=".App_Activity.VideoDetails"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.FacebookLike"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.TwitterLike"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.YouTubeLike"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.MyAccount"
            android:screenOrientation="portrait"
            android:theme="@style/cus_theme" />
        <activity
            android:name=".App_Activity.ReferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.OfferOpnerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.IntroSliderTwo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".App_Activity.OTP"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".App_Activity.RedeemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/cus_theme" />
        <activity android:name=".App_Activity.PromosAllVideo" />
        <activity
            android:name=".App_Activity.MyCoursesActivity"
            android:label="@string/title_activity_my_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.ArticlesActivity"
            android:label="@string/title_activity_articles"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.EventsActivity"
            android:label="@string/title_activity_events"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.BrochuresActivity"
            android:label="@string/title_activity_brochures"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.OffersActivity"
            android:label="@string/title_activity_offers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.LoginOrRegActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".App_Activity.OpenImageActivity"
            android:label="@string/title_activity_open_image"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.MoreProgramActivity"
            android:label="@string/title_activity_more_program"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.OpenProgramActivity"
            android:label="@string/title_activity_open_program"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.ArticleDetailsActivity"
            android:label="@string/title_activity_article_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.QuizHomeActivity"
            android:label="@string/title_activity_quiz_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.PdfViewActivity"
            android:label="@string/title_activity_pdf_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.TermsOfServiceActivity"
            android:label="@string/title_activity_terms_of_service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.LocateUsActivity"
            android:label="@string/title_activity_locate_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.PromoMoreActivity"
            android:label="@string/title_activity_promo_more"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.AffiliateActivity"
            android:label="@string/title_activity_affiliate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.PlayAudioActivity"
            android:label="@string/title_activity_play_audio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.VideoViewFullScreenActivity"
            android:label="@string/title_activity_video_view_full_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".App_Activity.TermsOfServices"
            android:label="@string/title_activity_terms_of_services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".App_Activity.VideoViewActivity" />
        <activity
            android:name=".App_Activity.CoursesActivity"
            android:label="@string/title_activity_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".App_Activity.VideoMediaPlayer" />
        <activity
            android:name=".App_Activity.MyPlayerActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".App_Activity.CustomPlayerControlActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape" />
    </application>

</manifest>